.material-symbols-outlined {
    cursor: pointer;
    color: #4A4A4A;
}

.material-symbols-outlined.active {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined:hover {
    color: black;
}