.note-list {
    column-count: 4;  /* Adjust this to suit your design */
    column-width: 200px;
    column-gap: 0.5em;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
}

.note-preview {
    user-select: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5em;
    break-inside: avoid;
    box-sizing: border-box;
    max-height: 21.875em;
    padding: 0.5em;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.note-preview:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.37);
    border-color: #000;
}

.note-preview .note-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease;
}

.note-preview:hover .note-actions {
    opacity: 1;
}