.note-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 80%;
    margin-top: 2em;
    padding-left: 20%;
    color: #202124;
}

.note-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.37);
    border-radius: 8px;
    border: #e0e0e0 1px solid;
    overflow: auto;
    margin-bottom: 2em;

}

.note-form input,
.note-form textarea {
    width: 100%;
    height: 2.875em;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}