.note-preview {
    user-select: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5em;
    break-inside: avoid;
    box-sizing: border-box;
    max-height: 21.875em;
    padding: 0.5em;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: 0.3s ease;
}

.note-preview:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.37);
    border-color: #000;
}

.note-preview .note-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease;
}

.note-preview:hover .note-actions {
    opacity: 1;
}

.note-actions {
    position: relative;
}

.note-actions > * {
    padding: 0 2px 0 2px;
}

.note-actions > *:not(.color-picker-container):hover {
    opacity: 0.87;
    background-color: rgba(95, 99, 104, 0.157);
    border-radius: 25px;
}

/*.note-title:focus, .note-content:focus {*/
/*    outline: none;*/
/*}*/