.email-index-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-areas:
        "compose    search"
        "labels     emails"
    ;
    gap: 1rem;
    margin: .5rem;
}

br {
    grid-area: empty;
}

.compose-bar {
    grid-area: compose;
}

.search-bar {
    grid-area: search;
}

.email-container {
    grid-area: emails;
}

nav.label-container {
    grid-area: labels;
    padding: 0 1rem 1rem;
}

ul.label-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill ,1fr);
    justify-items: start;
    gap: .5rem;
}

.label-container:hover {
    cursor: default;
}

ul.label-container > *:hover {
    cursor: pointer;
}

ul.label-container > * {
    height: 2rem;
    width: 100%;
}

fieldset {
    border: 1px solid lightgray;
    border-radius: .2rem;
}
  
fieldset > * {
    width: 100%;
    border-radius:.7rem;
}

.compose-bar button {
    padding: .3em;
}